*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 10 15  10 15;
    padding: 0;
}
#main-div{
 margin: auto;
 width: 90%;
}

#header{
    width: 100%;
    background-color: #3d6666;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
}

th{
    border: 2px solid black;
    color: white;
    background-color: #5e9ea0;
    width: 100%;
    text-align: left;
}
table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
}

td{
    padding: 10px;
}